div{
    width: 100vw;
    height:100vh
}
form{
  width:18vw;
margin:3rem auto;
}
input{
    width:100%;
    height:2.2rem;
    border-radius: 14px;
    outline:none;
    margin:.3rem 0rem;
    padding-left:1rem
}
input[type="submit"]{
    width:38%;
    border:none;
    cursor:pointer
}
.next_prev{
    width:120px;
    height:2rem;
    display:flex;
align-items: center;
margin:1rem auto
}
.next_prev button{
    color:white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.15rem;
    margin:0px 5px;
    padding:3px 7px
}
.fail{
    color:red
}